html {
}
.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.Poster {
    
    position: relative;
    margin-top: 100px;
}

.Title {
    color: rgb(21, 21, 21);
}

/* .Background_image {
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-20%, 0%);
} */

.Runtime {
}

.Rating {
}

.Description {
}
